.card-new-container
  = render 'shared/header'
  %main.mypage__body
    = render 'shared/mypage-sidebar'
    .mypage__body__main
      %section.creditcard-form
        %h2.creditcard-form__title
          クレジットカード情報入力
        = form_tag(card_create_users_path(current_user.id), method: "POST", class: "creditcard-form__body", id:"add-card" ) do
          = render 'users/card/creditcard-form', btn: "追加する"
  = render 'shared/app-banner'
  = render 'shared/footer'
  