%header.header
  .header-inner
    .header-top
      %h1
        = link_to "/" do 
          %img(src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2399382397" alt="mercari" width="134" height="36")/
      = form_tag('/', method: :get, class:'header-top__form')  do
        %input.input-default{:name => "keyword", placeholder:"何かお探しですか？", type:"search", value:""}
        = fa_icon 'search'
    .header-nav-box
      %nav.header-nav-box__left
        %ul.header-nav
          %li
            %h2 
              = link_to "https://www.mercari.com/jp/category/", class:'header-nav-root' do
                = fa_icon 'list', class:'icon'
                %span カテゴリーから探す
            %ul
          %li
            %h2 
              = link_to "https://www.mercari.com/jp/brand/", class:'header-nav-root' do
                = fa_icon 'tag', class:'icon'
                %span ブランドから探す
            %ul

      .header-nav-box__right
        - if user_signed_in?
          %ul.header-user-nav
            %li.notification
              = link_to '#' do
                = fa_icon 'bell'
                %span お知らせ
            %li.todo-list
              = link_to '#' do
                = fa_icon 'check'
                %span やることリスト
            %li.mypage
              = link_to mypage_users_path do
                = image_tag '//static.mercdn.net/images/member_photo_noimage_thumb.png', width: '32', class:'mypage-link'
                %span マイページ
        - else
          %ul.header-login-nav
            %li
              = link_to "新規会員登録", sign_up_path, class:'register-btn btn-red'
            %li
              = link_to "ログイン", new_user_session_path, class:'login-btn btn-red'