.single-header-cover
  = render 'shared/single-header'
%main.bought-container
  .bought-item-box
    %h2.bought-item-box__head
      購入が完了しました。
    .bought-item-box__content
      .bought-item-box__content__inner
        .item-info
          %h3.item-info__image
            = image_tag 'https://static.mercdn.net/thumb/photos/m55330794545_1.jpg?1560731390'
          .item-info__name
            = @product.name
          .item-purchased
            .item-purchased__price
              = "¥ #{@product.price}"
              %span 送料込み
            %ul.item-purchased__price-table
              %li
                .kingaku 支払い金額
                .yen
                  %span
                    = "¥ #{@product.price}"
          = link_to 'トップへ戻る', root_path, class:'item-info__purchase-btn'
.single-footer-cover
  = render 'shared/single-footer'