.container 
  = render 'shared/header'
  %main
    %section.carousel
      = image_tag 'banner-natsukashi.jpg', alt: 'image', width: '1440px'
    %section.pickup-container
      %h2.pickup-head
        ピックアップカテゴリー
      %section.item-box-container-index
        %h3.text-new-item
          = link_to "#{@ladies.name} 新着アイテム", "/", class:'new-item'
        .items-box-content
          = render partial: 'item-box', collection: @ladies_item, as: :item
        .view-all
          = link_to 'すべての商品をみる', "/", class:'show-all'

      %section.item-box-container-index
        %h3.text-new-item
          = link_to "#{@mens.name} 新着アイテム", "/", class:'new-item'
        .items-box-content
          = render partial: 'item-box', collection: @ladies_item, as: :item
        .view-all
          = link_to 'すべての商品をみる', "/", class:'show-all'
      

      
    %section.pickup-container
      %h2.pickup-head
        ピックアップブランド
      %section.item-box-container-index
        %h3.text-new-item
          = link_to 'シャネル 新着アイテム', "/", class:'new-item'
        .items-box-content
          %section.items-wrap
            = link_to '/', class:'items-box' do
              .items-box__image
                = image_tag 'banner-natsukashi.jpg', width:'220px', height:'213px'
              .items-box__body
                %h3.item-name
                  ハット
                .item-num
                  .item-num__price
                    ¥ 1,600
                  %p.item-num__tax 
                    (税)
          %section.items-box
            = link_to '/' do
              .items-box__image
                = image_tag 'banner-natsukashi.jpg', width:'220px', height:'213px'
              .items-box__body
                %h3.item-name
                  ハット
                .item-num
                  .item-num__price
                    ¥ 1,600
                  %p.item-num__tax 
                    (税)
          %section.items-box
            = link_to '/' do
              .items-box__image
                = image_tag 'banner-natsukashi.jpg', width:'220px', height:'213px'
              .items-box__body
                %h3.item-name
                  ハット
                .item-num
                  .item-num__price
                    ¥ 1,600
                  %p.item-num__tax 
                    (税)
          %section.items-box
            = link_to '/' do
              .items-box__image
                = image_tag 'banner-natsukashi.jpg', width:'220px', height:'213px'
              .items-box__body
                %h3.item-name
                  ハット
                .item-num
                  .item-num__price
                    ¥ 1,600
                  %p.item-num__tax 
                    (税)
        .view-all
          = link_to 'すべての商品をみる', "/", class:'show-all'

      %section.item-box-container-index
        %h3.text-new-item
          = link_to 'ルイ・ヴィトン 新着アイテム', "/", class:'new-item'
        .items-box-content
          %section.items-wrap
            = link_to '/', class:'items-box' do
              .items-box__image
                = image_tag 'banner-natsukashi.jpg', width:'220px', height:'213px'
              .items-box__body
                %h3.item-name
                  ハット
                .item-num
                  .item-num__price
                    ¥ 1,600
                  %p.item-num__tax 
                    (税)
          %section.items-box
            = link_to '/' do
              .items-box__image
                = image_tag 'banner-natsukashi.jpg', width:'220px', height:'213px'
              .items-box__body
                %h3.item-name
                  ハット
                .item-num
                  .item-num__price
                    ¥ 1,600
                  %p.item-num__tax 
                    (税)
          %section.items-box
            = link_to '/' do
              .items-box__image
                = image_tag 'banner-natsukashi.jpg', width:'220px', height:'213px'
              .items-box__body
                %h3.item-name
                  ハット
                .item-num
                  .item-num__price
                    ¥ 1,600
                  %p.item-num__tax 
                    (税)
          %section.items-box
            = link_to '/' do
              .items-box__image
                = image_tag 'banner-natsukashi.jpg', width:'220px', height:'213px'
              .items-box__body
                %h3.item-name
                  ハット
                .item-num
                  .item-num__price
                    ¥ 1,600
                  %p.item-num__tax 
                    (税)
        .view-all
          = link_to 'すべての商品をみる', "/", class:'show-all'
  = render 'shared/app-banner'
  = render 'shared/footer'
  = render 'shared/footer-sell-btn'